<section class="section">
  <div class="container">
    <div class="title">InformationsVisualierung Group 13</div>

    <p>Some data from our <code>csv</code> file</p>
    <div class="table-container mt-5">
      <table class="table">
      <thead>
        <th>Date</th>
        <th>Temperture</th>
        <th>Discrete Chlorophyll</th>
      </thead>
       <tbody>
         <!-- show -->
        <tr *ngFor="let row of datasetStore.state$ | async | slice:0:10">
          <td>{{row.timestamp | date}}</td>
          <td>{{row.temperature | number}}</td>
          <td>{{row.discreteChlorophyll | number}}</td>

        </tr>
       </tbody>
      </table>
    </div>

    <div class="title is-5 mt-5">Linechart for temperature of year 1980</div>
    <div *ngIf="datasetStore.lineChartData$ | async as lineData">
      <app-linechart [data]="convertToDataset(lineData, 'temperature', '#3498DB')"></app-linechart>

    </div>
    
  </div>
</section>

<router-outlet></router-outlet>