/* You can add global styles to this file, and also import other style files */

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions.sass";


$primary: #06d6a0;
$info: #118ab2;
$success: #06d6a0;
$warning: #ffd166;
$danger: #ef476f;
@import "~bulma";
